body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.heading-secondary {
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #114e51;
  letter-spacing: 1px;
  font-weight: 300;
}

.heading-tertiary {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
}

.heading-primary {
  color: #fff;
  margin-left: 1rem;
  font-weight: 600;
  font-size: 2.4rem;
  letter-spacing: 2px;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: inherit;
}

.todo-item__action-icon {
  border: 1px solid #aae7ea;
  border-radius: 50%;
  padding: 0.4rem;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  background-color: #fff;
  transition: all 200ms;
  fill: #229ca2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-item__action-icon:hover {
  transform: scale(1.1);
}
.todo-item__action-icon:not(:last-child) {
  margin-right: 0.5rem;
}

.todo-item__action-icon-mask {
  background-color: #114e51;
  width: 100%;
  height: 100%;
}

.icon-check {
  -webkit-mask: url(../vendors/SVG/check.svg) no-repeat center;
  -webkit-mask-size: cover;
}

.icon-edit {
  -webkit-mask: url(../vendors/SVG/edit.svg) no-repeat center;
  -webkit-mask-size: cover;
}

.icon-trash {
  -webkit-mask: url(../vendors/SVG/trash.svg) no-repeat center;
  -webkit-mask-size: cover;
}

.todo-item {
  display: flex;
  flex-direction: column;
  height: 14rem;
  border: 1px solid #aae7ea;
  border-radius: 0.6rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 300ms;
}
.todo-item:hover {
  transform: scale(1) translateY(-4px);
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.06);
  outline: 3px solid #114e51;
  outline-offset: 2px;
}
.todo-item:not(:last-of-type) {
  margin-bottom: 1.5rem;
}
.todo-item__actions {
  display: flex;
}
.todo-item__title-box {
  background-color: #229ca2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
}
.todo-item__details-box {
  width: 100%;
  padding: 1.4rem;
  padding-bottom: 0.8rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4rem;
  align-content: center;
  flex: 1;
}
.todo-item__details-text {
  align-self: flex-start;
  font-size: 1.4rem;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 400;
  grid-column: 1/-1;
}
.todo-item__param-box {
  padding-top: 0.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.8rem;
  border-top: 1px solid #aae7ea;
}
.todo-item__details-param {
  font-size: 1rem;
  display: block;
  height: 100%;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.todo-item__details-value {
  font-size: 1rem;
  display: block;
  height: 100%;
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.container {
  height: 55rem;
  overflow-y: scroll;
  background-color: #fff;
  padding: 2rem;
  border: 2px solid #aae7ea;
  box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 0.6rem;
}
.container:hover > .todo-item {
  transform: scale(0.98);
}
.container .todo-item:hover {
  transform: scale(1) translateY(-4px);
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.06);
}
.container::-webkit-scrollbar {
  width: 7px;
}
.container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px rgba(43, 195, 203, 0.3);
  border-radius: 100px;
}
.container::-webkit-scrollbar-thumb {
  background-color: #166266;
  border-radius: 100px;
}

.app-todo {
  background-color: #eaf9fa;
  padding: 5rem 8rem;
  display: grid;
  grid-template-columns: 40rem 40rem 1fr;
  column-gap: 8rem;
  flex-grow: 1;
  flex-shrink: 1;
}

.body {
  height: 100vh;
  height: 100dvh;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.section-header {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0rem 8rem;
  align-items: center;
  background-image: linear-gradient(to bottom, #55cfd5, #229ca2);
}

.logo-box {
  background-color: #fff;
  padding: 0.8rem;
  border-radius: 50%;
  perspective: 150rem;
  transition: all 1000ms ease-in-out;
}
.logo-box:hover {
  transform: rotateY(1800deg);
}

.logo {
  height: 2.5rem;
  display: block;
  transition: all 1000ms ease-in-out;
}

.top-nav {
  font-size: 2rem;
  font-weight: 600;
  height: 5rem;
  margin-left: auto;
}
.top-nav__items {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
}
.top-nav__item {
  height: 100%;
}
.top-nav__link:link, .top-nav__link:visited {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  text-decoration: none;
  color: #eaf9fa;
  transition: all 300ms ease-out;
}
.top-nav__link:hover, .top-nav__link:active {
  background-color: #fff;
  color: #114e51;
}

.section-todo-today {
  display: flex;
  flex-direction: column;
}

.today__item-actions {
  display: flex;
}
.today__item:not(:last-of-type) {
  margin-bottom: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.section-todo-future {
  display: flex;
  flex-direction: column;
}

.footer {
  padding: 0rem 6rem;
  height: 5rem;
  background-image: linear-gradient(to bottom, #55cfd5, #229ca2);
  flex-grow: 0;
  flex-shrink: 0;
}

/*# sourceMappingURL=style.css.map */
