$color-primary: #2bc3cb;

$color-background: #eaf9fa;
$color-primary-dark: #229ca2;

$color-primary-light: #55cfd5;

$color-white: #fff;

$color-scrollbar: #166266;

$color-outline: #aae7ea;

$default-font-color: #eaf9fa;
$font-color-dark: #114e51;

$border-grey: 2px solid #ccc;
