.app-todo {
  background-color: $color-background;
  padding: 5rem 8rem;

  display: grid;

  grid-template-columns: 40rem 40rem 1fr;
  column-gap: 8rem;

  flex-grow: 1;
  flex-shrink: 0;
}

.body {
  height: 100vh;
  height: 100dvh;

  display: flex;
  flex-direction: column;
}
