.section-form {
  border-left: 2px solid $color-outline;
  margin-left: 4rem;
}

.main-form {
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;

  padding: 1rem;
  background-color: $color-primary-dark;

  border: 2px solid $font-color-dark;

  border-radius: 0.6rem;

  &__container {
    border-top: 2px solid $color-white;
    height: 55rem;
    color: $color-white;
  }

  &__form-group {
    margin-top: 2rem;
  }

  &__form-input {
    font-size: inherit;
  }
}

.form__input[placeholder="Description"] {
  width: 25rem;
  height: 15rem;
  resize: none;
}
