.section-todo-today {
  display: flex;
  flex-direction: column;
}

.today {
  &__item {
    &-actions {
      display: flex;
    }
  }

  &__item:not(:last-of-type) {
    margin-bottom: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.05);
  }
}
